CONFIG_SMP=y
# CONFIG_BAYTRAIL is not set
# CONFIG_CHERRYTRAIL is not set
# CONFIG_HASWELL is not set
# CONFIG_BROADWELL is not set
# CONFIG_APOLLOLAKE is not set
# CONFIG_CANNONLAKE is not set
# CONFIG_SUECREEK is not set
CONFIG_ICELAKE=y
CONFIG_DMIC=y
# CONFIG_HOST_PTABLE is not set
CONFIG_TASK_HAVE_PRIORITY_MEDIUM=y
CONFIG_BOOT_LOADER=y
CONFIG_IRQ_MAP=y
CONFIG_DMA_GW=y
CONFIG_MEM_WND=y
# CONFIG_GDB_DEBUG is not set
# CONFIG_DEBUG_HEAP is not set
# CONFIG_DEBUG_BUILD is not set
