mainmenu "SOF $(PROJECTVERSION) Configuration"

comment "Compiler: $(CC_VERSION_TEXT)"

source "scripts/Kconfig.include"

source "src/Kconfig"

config HOST_PTABLE
	bool "Handling host page table"
	default n
	help
	  Select for host page table

config TASK_HAVE_PRIORITY_MEDIUM
	bool "Handling medium priority task"
	default n
	help
	  Select for medium priority task

config BOOT_LOADER
	bool "Boot Loader"
	default n
	help
	  Select for boot loader

config IRQ_MAP
	bool "IRQ maps"
	default n
	help
	  Select for IRQ maps

config DMA_GW
	bool "DMA Gateway"
	default n
	help
	  Select for dma gateway

config MEM_WND
	bool "Memory Windows"
	default n
	help
	  Select for memory windows

menu "Debug"

config GDB_DEBUG
	bool "GDB Stub"
	default n
	help
	  Select for GDB debugging

config DEBUG_HEAP
	bool "Heap debug"
	default n
	help
	  Select for enable heap alloc debugging

config DEBUG_BUILD
	bool "Debug build"
	default n
	help
	  Select for debug build

endmenu
